.dl-horizontal dt {
    white-space: normal;
}

input, select, textarea {
    max-width: 280px;
}

.left-col {
    width: 23%;
    position: fixed;
    height: 100%;
    background: #2d3339;
}

.main-col {
    position: absolute;
    right: 0;
    min-height: 100%;
    width: 77%;
    background: #fff;
}

.footer {
    padding-left: 20px;
}